:root{
    --cor-fundo: #FAF9F6;
    --cor_borda: #000000;
    --cor_texto: #000000;
    --cor_background_tech: #DCDCDC;
    --cor-fundo-footer: #FAF9F6;
    --tam_texto: 1rem;
    --fonte: "kode-mono";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "kode-mono";
    src: url("./KodeMono-VariableFont_wght.ttf");
}
body, html{
    height: 100%;
    background-color: var(--cor-fundo);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cabecalho_nav{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2%;
    width: 50%;
}
#terminal{
    align-self: self-start;
}

.cabecalho_nav_link{
    color: var(--cor_texto);
    font-family: var(--fonte);
    text-decoration: none;
}
#botao{
    display: none;
    
}
.cabecalho_botoes{
    padding: 0 1.3%;
}
.cabecalho_conteudo{
    padding: 0 1.3%;
    width: 100%;
    display: flex;
    justify-content: right;
}

.cabecalho_nav_link_curriculo{
    font-family: var(--fonte);
    padding: 1.5% 1%;
    border: 2px solid var(--cor_texto);
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--cor_texto);
}
span{
    font-weight: bold;
}
.conteudo{
    width: 100%;
    padding: 2% 0;
}
.conteudo_apresentacao{
    width: 100%;
}

.conteudo_apresentacao_texto{
    padding: 9.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conteudo_apresentacao_texto_titulo{
    font-family: var(--fonte);
    font-size: 2.7rem;
}

.conteudo_apresentacao_texto_subtitulo{
    padding: 1.7% 0;
    font-family: var(--fonte);
    font-size: 1.5rem;
}
.conteudo_apresentacao_texto_paragrafo{
    width: 50%;
    font-family: var(--fonte);
    text-align: justify;
    font-size: 1.15rem;
    font-weight: 500;
}

.rodape{
    position: fixed;
    bottom: 0%;
    width: 4%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15%;

    background-color: var(--cor-fundo-footer);
}

/* about */
.conteudo_apresentacao__about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
}
.conteudo_apresentacao_texto__about{
    /* padding: 2% 0; */
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}
.conteudo_apresentacao_texto_paragrafo__about{
    width: 65%;
    font-family: var(--fonte);
    text-align: justify;
    font-size: 1.15rem;
    font-weight: 500;
}
/* projects */
.conteudo_apresentacao__projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 9%;
}
.conteudo_apresentacao_projeto__projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.bloco_projeto{
    padding: 1.5% 0;
    width: 43%;
}
.bloco_projeto_titulo{
    font-family: var(--fonte);
    font-size: 1.8rem;
}
.bloco_projeto_descricao{
    font-family: var(--fonte);
    font-size: 1.15rem;
    font-weight: 400;
    text-align: justify;
}
.bloco_projeto_imagem{
    width: 100%;
    padding: 1.5% 0;
}
.bloco_projeto_botoes{
    display: flex;
    justify-content: right;
    gap: 1.5%;
}
.bloco_projeto_techs{
    display: flex;
    gap: 1.5%;
}
.bloco_projeto_tech{
    font-family: var(--fonte);
    font-size: var(--tam_texto);
    background-color: var(--cor_background_tech);
    padding: 0.8%;
    border-radius: 5%;
}

@media (max-width: 500px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .cabecalho_botoes{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cabecalho_conteudo{
        display: block;
        padding: 0;
        width: 100%;
        display: none;
        border-top: 1px solid var(--cor_borda);
    }
    .cabecalho_nav{
        padding: 0;
        flex-direction: column;
        justify-content: left;
        align-items: self-start;
        width: 100%;
    }
    .cabecalho_nav_link{
        width: 100%;
        border-bottom: 1px solid var(--cor_borda);
        padding: 1.5% 1.3%;
    }
    .cabecalho_nav_link_curriculo{
        padding: 1.5% 1.3%;
        width: 100%;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--cor_borda);
    }
    #botao{
        display: inline;
    }
}