*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: vt323;
    src: url("./../vt323-latin-400-normal.woff2");
}

:root{
    --fonte: vt323;
    --tamanho__padrao: 1.2rem;
}

.command{
    display: flex;
    flex-direction: column;
}
body{
    background-color: black;
    color: white;
}

/*                                      HEADER                                      */
.header{
    padding: 2% 1.5%;
}
#ascii__art__text{
    font-size: 1.8rem;
}

/*                                      MAIN                                      */
.main__content{
    padding: 0 1%;
}
.command{
    padding: 0.4% 0;
}

.input{
    font-family: var(--fonte);
    font-size: var(--tamanho__padrao);
    background-color: black;
    color: white;
    outline: none;
}

.command__text__terminal{
    font-family: var(--fonte);
    font-size: var(--tamanho__padrao);
    color: white;
}

.command__text__ul{
    padding: 0 2%;
}

.command__link{
    padding-right: 0.5%;
}
