*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.command{
    display: flex;
    flex-direction: column;
    /* align-items: last baseline; */
}
body{
    background-color: black;
    color: white;
}
#input__field{
    /* width: 100%; */
    color: white;
    background-color: black;
    outline: none;
    border:none;
    align-self: flex-end;
}